{% extends 'base.html.twig' %}

{% block title %}BD index{% endblock %}

{% block navBar %}
    {% include '/navbars/navbarHomeAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <h1>BD index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Serie</th>
                <th>Title</th>
                <th>Image</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Collection</th>
                <th>Creation_date</th>
                <th>Owned_bd_date</th>
                <th>Value</th>
                <th>Price</th>
                <th>Comment</th>
                <th>ISBN</th>
                <th>On_loan</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bd in bds %}
            <tr>
                <td>{{ bd.id }}</td>
                <td>{{ bd.genre }}</td>
                <td>{{ bd.serie }}</td>
                <td>{{ bd.title }}</td>
                <td>{{ bd.image }}</td>
                <td>{{ bd.author }}</td>
                <td>{{ bd.edition }}</td>
                <td>{{ bd.collection }}</td>
                <td>{{ bd.creationDate|date('Y') }}</td>
                <td>{{ bd.ownedBdDate|date('Y') }}</td>
                <td>{{ bd.value }}</td>
                <td>{{ bd.price }}</td>
                <td>{{ bd.comment }}</td>
                <td>{{ bd.ISBN }}</td>
                <td>{{ bd.onLoan ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('bd_show', {'id': bd.id}) }}">show</a>
                    <a href="{{ path('bd_edit', {'id': bd.id}) }}">edit</a>
                </td>
                </tr>
        {% else %}
                <tr>
                <td colspan="16">no records found</td>
                </tr>
        {% endfor %}
                </tbody>
                </table>

                <a href="{{ path('bd_new') }}">Create new</a>
{% endblock %}
